meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
//- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
meta(name='description', content='')
meta(name='author', content='SM')
link(href='images/favicon.ico', rel='icon')
title My FPL | #{title}
//- Bootstrap core CSS
link(href='bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
//- Custom styles for this template
link(href='stylesheets/navbar.css', rel='stylesheet')
//- AnuglarJS
script(src='angular/angular.min.js')