nav.navbar.navbar-default
    .container-fluid
        .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='/') My FPL
        div#navbar.navbar-collapse.collapse
            ul.nav.navbar-nav
                li(class=(currentRoute === 'index')?"active":"")
                    a(href='/') Home
                li(class=(currentRoute === 'transfers')?"active":"")
                    a(href='transfers') Transfers
                li(class=(currentRoute === 'standings')?"active":"")
                    a(href='standings') Standings
            ul.nav.navbar-nav.navbar-right
                if session.loggedIn
                    li(class=(currentRoute === 'settings')?"active":"")
                        a(href='settings') Settings
                    li(class=(currentRoute === 'logout')?"active":"")
                        a(href='logout') Logout
                else

                    li(class=(currentRoute === 'signup')?"active":"")
                        a(href='signup') Signup
                    li(class=(currentRoute === 'login')?"active":"")
                        a(href='login') Login