<div class="row">
  <div class="col-sm-8">
    <h2>My leagues</h2>
  </div>
  <div class="col-sm-4">
    <form method="POST">
      <div class="form-group form-group-lg">
        <label class="sr-only" for="inputInviteCode">Invite code</label>
        <input class="form-control" id="inputInviteCode" name="inputInviteCode" type="text" placeholder="Invite Code"
               required>
      </div>
    </form>
    <button type="submit" class="btn btn-primary btn-block">Join A League</button>
    <hr>
    <form method="POST">
      <div class="form-group form-group-lg">
        <label class="sr-only" for="inputName">League Name</label>
        <input class="form-control" id="inputName" name="inputName" type="text" placeholder="League Name" required>
      </div>
      <div class="form-group form-group-lg">
        <label class="sr-only" for="inputLeagueCapacity">League Capacity</label>
        <input class="form-control" id="inputLeagueCapacity" name="inputLeagueCapacity" type="number"
               placeholder="Max users: between 2 and 5"
               required>
      </div>
      <div class="form-group form-group-lg">
        <label class="sr-only" for="inputInviteCodeCreate">Invite code</label>
        <input class="form-control" id="inputInviteCodeCreate" name="inputInviteCodeCreate" type="text"
               placeholder="A random code to let others join"
               required>
      </div>
    </form>
    <button type="submit" class="btn btn-primary btn-block">Create League</button>
  </div>
</div>
