extends layout

block scripts
  link(href='stylesheets/transfers.css', rel='stylesheet')

block content
  div.welcome: h1 Transfers
  if session.loggedIn
    if myTeam
      table.table.table-bordered
        caption Current Points
        thead
          tr
            th Player
            th Team
            th Team Logo
            th Player Type
            th Score
        tbody
          for player in myTeam.players
            tr
              td.col-md-3= players[player.id].web_name
              td.col-md-3= teams[players[player.id].team-1].name
              td.col-md-2: span.badge-25(class=teams[players[player.id].team-1].short_name)
              td.col-md-2= players[player.id].element_type
              td.col-md-2= player.score
    if transferTurn
      if transferLimit>0
        div
          form.form-inline(method="post")
            div.form-group
              label(for='playerIn') Player In
              select#playerIn.form-control(name='playerIn', required)
                option(value='', selected, disabled) Please select
                for player in players
                  if player.is_available == false
                    option(value= player.id-1, disabled)= player.web_name
                  else if true
                    option(value= player.id-1)= player.web_name
            div.form-group
              if myTeam
                label(for='playerOut') Player Out
                select#playerOut.form-control(name='playerOut')
                  option(value='', selected, disabled) Please select
                  for player in myTeam.players
                    option(value= player.id)= players[player.id].web_name
            button.btn.btn-primary(type='submit', action='transfers') Make Transfer
  table.table.table-bordered
    caption Fixtures
    tbody
      for fixture in fixtures 
        tr
          td.col-md-4= teams[fixture.team_h-1].name
          td.col-md-1: span.badge-25(class=teams[fixture.team_h-1].short_name)
          td.col-md-2= fixture.kickoff_time_formatted
          td.col-md-1: span.badge-25(class=teams[fixture.team_a-1].short_name)
          td.col-md-4= teams[fixture.team_a-1].name