<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false"
              aria-controls="navbar"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
        class="icon-bar"></span><span class="icon-bar"></span></button>
      <a class="navbar-brand" routerLink="">My FPL</a>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="home">Home</a></li>
        <li routerLinkActive="active"><a routerLink="leagues">Leagues</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active"><a routerLink="login">Login</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">Saket Mehta<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="#">Settings</a></li>
            <li role="separator" class="divider"></li>
            <li><a routerLink="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
