<form class="navbar-form navbar-right" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <input type="email" placeholder="Email" class="form-control" required [(ngModel)]="model.email" name="email">
  </div>
  <div class="form-group">
    <input type="password" placeholder="Password" class="form-control" required [(ngModel)]="model.password" name="password">
  </div>
  <button type="submit" class="btn btn-success">Sign in</button>
  <a class="btn btn-primary" routerLink="register" role="button">Register</a>
</form>